@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 3%, rgba(56,56,56,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 3%,rgba(56,56,56,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(125,126,125,1) 3%,rgba(56,56,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#383838',GradientType=1 );
  
}